*{
  padding:0;
  margin:0;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box;
}
 .map {
   width:100%;
   height:100vh;
   display:flex;
   align-items:center;
   justify-content:center;
   flex-direction:column;
 }
 
 
 h1 {
   color:#333;
   margin-bottom:30px;
   text-align: center;
   font-size: 2em;
 }
 iframe {
   width:100%;
   height:450px;
   filter:invert(100%);
   
 }
 body {
   padding-bottom: 0px;
   padding-top: 200px;
 }
 .cntct {
  font-family: 'sofia';
  font-size:1.7em ;
 }

 
 
 footer {
   background-color:rgb(0,0,0,0.8);
   color:white;
   padding:1em;
   display:flex;
   justify-content: space-between;
 }
 .social-icons a {
   color:white;
   font-size:1.2em;
   padding-right:27px;
 }
 .socialicons {
  display: flex; 
  align-items: center;
  font-size: 2.3vw;
  margin-left:16.3em;
 }
 .socialicons a {
  margin-left:2em;
 }
 
 

.container {
  width: 100%;
  height: 100vh;
  background: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
}
form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw ;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}
form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size:16px;
}
form button {
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

nav{
  width:100%;
  height:75px;
  line-height:75px;
  padding:0px 80px;
  position:fixed;
  background-color:rgb(0,0,0,0.8);
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index:200;
}
nav .logo{
  font-size:25px;
  font-weight:bold;
  float:left;
  color:white;
  text-transform: uppercase;
  letter-spacing:1px;
  cursor:pointer;
  position:absolute;
}
nav ul{
  float:right;
  margin-right:20px;
}
nav li{
  display:inline-block;
  list-style:none;
}
nav li a{
  font-size:18px;
  text-transform:uppercase;
  padding:0px 30px;
  color:white;
  text-decoration:none;
}
nav li a:hover{
  color:#0082e6;
  transition: all 0.4s ease 0s;
}
.headd {
  position:fixed;
}
.lg {
  font-family: 'Great Vibes',cursive;
}
.checkbtn{
  font-size:30px;
  color:white;
  float:right;
  line-height: 80px;
  margin-right:40px;
  cursor:pointer;
  display:none;
}
#check{
  display:none;
}
@media (max-width:952px){
  label.logo{
    font-size:18px;
    padding-left:2px;
  }
}
nav ul li a{
  font-size:16px; 
}
@media (max-width:500px){
  .checkbtn{
    display:block;
  }
  ul{
    position:fixed;
    width:100%;
    height:100vh;
    background:#2c3e50;
    top:80px;
    left:-100%;
    text-align:center;
    transition: all .5s;
  }
  nav ul li{
    display:block;
    margin:50px;
    line-height:30px;
  }
  nav ul li a{
    font-size:20px;
  }
  a:hover,a.active{
    background:none;
    color: rgb(255,215,0);
  }
  #check:checked ~ ul{
    left:0;
  }
  .social-icons a {
    padding-right: 5px;
  }
  .socialicons {
    font-size: 32px;
    align-items: center;
    margin-left:3em;
  }
  .socialicons a {
    margin-left:0.9em;
   }
  .footer-title{
    font-size: 0.6em;
  }
}


